---
title: Auto ML
author: Andrew Carr
date: 2024-11-14
categories: [code, analysis]
---

This is an example of a notebook. I will demo an auto ML tool I'm making

In [1]:
import pandas as pd

In [2]:
pd.DataFrame({"fruits":['apple', 'pear', 'banana'],\
    'cities':['houston', 'beantown', 'warsaw']})

   fruits    cities
0   apple   houston
1    pear  beantown
2  banana    warsaw

What an amazing dataframe of fruits and cities.